#### About Dataset

Data Link - https://www.kaggle.com/datasets/tunguz/200000-jeopardy-questions/data

**Context**

- This is a dataset of 200,000+ Jeopardy! questions

**Acknowledgements**
- We wouldn't be here without the help of others. If you owe any attributions or thanks, include them here along with any citations of past research.

**Inspiration**
- Your data will be in front of the world's largest data science community. What questions do you want to see answered?

In [6]:
import pandas as pd

#### Dataset

In [8]:
jeopardy = pd.read_csv("../data/JEOPARDY_CSV.csv")

In [29]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [11]:
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       213296 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216927 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [22]:
jeopardy.columns = jeopardy.columns.str.strip()

In [30]:
jeopardy['Category'].value_counts(), len(jeopardy['Category'].value_counts())

(Category
 BEFORE & AFTER        547
 SCIENCE               519
 LITERATURE            496
 AMERICAN HISTORY      418
 POTPOURRI             401
                      ...
 1999 TELEVISION         1
 WORDS IN PHYSICS        1
 LITERATURE & MUSIC      1
 '90s NOTABLES           1
 CELEBRITY NAMES         1
 Name: count, Length: 27995, dtype: int64,
 27995)